<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script
		src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
	</script>
	<title><%title%></title>
</head>
<body>

	<div class="container-fluid">
	  <div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:px;">REDEEM CHRISTAIN CHURCH OF GOD</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:px;">
	  	<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   	
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px; margin-left:16px;">MOUNTAIN OF FIRE AND MIRACLE MINISTRY</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  	 <div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	  
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">HOUSE ON THE ROCK</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  	<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   	
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">LATTER RAIN</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  		<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">WINNERS</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  	<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   	
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">THE LORDS CHOSEN</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  		<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">FOURSQUARE</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  		<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">CATHOLIC CHURCH</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  	<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   	
	  </div>
	</div>
	<div class="row">
	  	<div class="col-xs-12 col-md-12" style="background-color:; margin-top:20px;  margin-left:16px;">DAY STAR</div>
	  </div>
	  <div class="row" style="background-color:;  margin-left:1px;">
	  	<div class="col-xs-12 col-md-8"><a href="">Our Father</a></div>
	  	<div class="col-xs-12 col-md-2" ><a href="">June 28th</a></div>
	   	
	  </div>
	</div>
</body>
</html>